name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  # ========================
  # 1️⃣ JOB TEST
  # ========================
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Unit Tests
        run: mvn clean test


  # ========================
  # 2️⃣ JOB BUILD
  # ========================
  build:
    runs-on: ubuntu-latest

    # build chỉ chạy khi test thành công
    needs: test

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build Application
        run: mvn clean package -DskipTests

      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar